body{
    background-color: rgb(170, 109, 228);
    text-align: center;
    padding:0px;
    margin:300px;
    color:aliceblue;

}
h1{
    
    text-align: center;
    color:black;
}

#clock
{
    background-color: black;
    width:200px;
    height:50px;
    margin-left:550px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px rgba(192, 13, 13, 0.6);
    
}