*{
    margin:0px;
    padding:0px;
}
body{
    background-color: rgb(4, 8, 63);
    margin-left: 700px;
    margin-top:300px ;
}
#wrapper{
    border-radius: 12px;
    border-color:black;
    width:500px;
    height:400px;
    background-color: rgb(255, 255, 255);
    text-align: center; 
    font-size:large;
    box-shadow: 0 0 35px rgb(255, 255, 255); 
}
h1{
    padding:10px;   
}
#subt{
    background-color: black;
    color: aliceblue;
    border-radius:5px;
    height: 25px;
    width: 60px; 
}
#guessField{
    background-color: black;
    color:aliceblue;
    border-radius:5px;
    height: 25px;
    width: 200px; 
    text-align: center;
}