h1{
    text-align: center;
}
h2{
    text-align: center;
    padding:50px;
}
body{
    margin:0;
    min-height: 100vh;
    align-items: center;

}
  .button {
    display: inline-block;
    width: 150px;
    height: 200px;
    margin:30px;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-right: 100px;

  }